# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Media Storage (IMPORTANTE)
backend/uploads/*
backend/outputs/*
!backend/uploads/.gitkeep
!backend/outputs/.gitkeep

# Node
node_modules/
.next/
out/
build/

# OS
.DS_Store
Thumbs.db